<a href="https://colab.research.google.com/github/savvy-trenty/TTP_Winter_2022/blob/main/day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Warmup

In [1]:
#1 Slice Syntax
#Select a set of characters from "Hello World" to print
s= "Hello World" 
print(s[2:5])

llo

In [2]:
#2 Print "Hello World" in reverse
s="Hello World"
reversed_s= s[::-1]
print(reversed_s)

dlroW olleH

In [3]:
#3 Print user input in reverse
a= input()
print("Your input:"+ a)
reversed_a= a[::-1]
print(reversed_a)

HERO
Your input:HERO
OREH

In [4]:
#4 Print user input in a sentence
print("What is your name?")
a= input()
print("Your name is "+ a)

What is your name?
Trent
Your name is Trent

In [5]:
#5 Using type() function, print out the type of three objects
# Find the type of three objects
a = ('car', 'apple', 'karate')
b ="Hello World"
c = 69

d = type(a)
e = type(b)
f = type(c)
print(d, e , f)

<class 'tuple'> <class 'str'> <class 'int'>

In [6]:
#6 Add two numbers together
print(2+100)

102

In [7]:
#7 Find the square root of 5 numbers
#numpy.sqrt() method

#importing numpy
import numpy as np

arr= np.sqrt([100,50,30,20,10])
print("Square-root of the five numbers are : ", arr)

Square-root of the five numbers are :  [10.          7.07106781  5.47722558  4.47213595  3.16227766]

In [8]:
#8 Find the whole number of 5 division problems
print( 10//2)
print( 15//2)
print( 60//2)
print( 1230//2)
print( 75//2)

5
7
30
615
37

In [9]:
#9 Create two lists and combine them
item1 = [11,23,45,67]
item2 = [1, 2, 3, 4]
print(item1 , item2)
print(item1 + item2)

[11, 23, 45, 67] [1, 2, 3, 4]
[11, 23, 45, 67, 1, 2, 3, 4]

In [10]:
#10 Create two arrays and combine them
arr1  = [11,23,45,67]
arr2 = [1, 2, 3, 4] 
print(arr1 + arr2)

[11, 23, 45, 67, 1, 2, 3, 4]

In [11]:
#11 Convert 5 objects from one type to another (ex. Int to Float)
b =123
c = 2j
d =1.0

a1 = float(b)
a2 = int(d)
a3 = str(d)

print(a1)
print(a2)
print(a3)

123.0
1
1.0

In [12]:
#12 Convert a lowercase string to an UPPERCASE STRING
s = "hello world"
print(s.upper())

HELLO WORLD

In [13]:
#13 Print out the word "Python", one letter at a time
a_string= "Snake"

for letter in a_string:
    print(letter)

S
n
a
k
e

In [14]:
#14 Print an object from a list of objects
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [15]:
#15 BONUS!!! Get the version of Python being used
import sys
print("Python version")
print(sys.version)
print("Version.info.")
print(sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version.info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)